
@mixin max-width-center($max-width) {
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
}

* {
	box-sizing: border-box;
}
.wrapper-big {
	@include max-width-center(1360px);
	padding: 0 15px;
}
.wrapper-medium {
	@include max-width-center(1120px);
	padding: 0 15px;
}
.wrapper-small {
	@include max-width-center(910px);
	padding: 0 15px;
}