
// Boxes style 

@mixin boxStyle {
    background-color: white;
    border: 1px solid rgba($color-pink, 0.15);
}

@mixin galsTransitionFast {
    transition: all 0.1s ease;
}

::selection {
    background-color: $color-yellow;
}