
#y-breadcrumbs {
    text-transform: uppercase;
    margin: 0;
    color: white;
    font-size: 0.9em;
    
    @include breakpoint (small-medium down) {
        font-size: 0.8em;
    }

    a, .breadcrumb_last {
        margin: 0 8px;
        letter-spacing: 0.04em;
        color: white;
        display: inline-block;
    }

    > span > span > a {
        margin: 0 8px 0 0;
    }

    a {
        opacity: 0.7;
        

        &:hover {
            // text-decoration: underline;
            opacity: 1;
        }
    }

    .breadcrumb_last {
        font-weight: 600;
        display: none;
    }
}

.newsroll.single #y-breadcrumbs {
    font-size: 0.85em;
    color: $color-darkpink;

    .breadcrumb_last {
        display: none;
    }

    a, .breadcrumb_last {
        color: $color-darkpink;
    }
}
