
// Buttons

.btn {
    padding: 10px 28px;
    font-family: $body-font-family;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    background-color: $color-pink;
    color: white;
    text-align: center;
    @include galsTransitionFast;
    @include breakpoint (medium down) {
        font-size: 1.1em;
        padding: 8px 20px;
    }

    &::after {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        content: '';
        opacity: 0;
    }

    &.btn-yellow {
        background-color: $color-yellow;
        color: white;
    }

    .btn-icon {
        font-size: 0.8em;
        margin-left: 10px;
        display: inline-block;
        @include galsTransitionFast;
    }

    &.btn-large {
        font-size: 1.4em;
        padding: 15px 37px;
        margin-bottom: 10px;

        @include breakpoint(medium down) {
            font-size: 1.2em;
            padding: 10px 28px;
        }

        &.btn-icon {
            font-size: 1em;
            margin-left: 13px;

            @include breakpoint(small-medium down) {
                font-size: inherit;
                padding: inherit;
                margin-left: inherit;
            }
        }
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 3px 15px rgba(black, 0.3);
        color: white;

        &::after {
            opacity: 0.14;
        }

        .btn-icon.icon-Right-7{
            transform: translateX(8px);
        }
    }
}

.read-more-btn {
    display: inline-block;
    border-bottom: 1px solid rgba($color-pink, 0);
    
    &:hover {
        border-bottom: 1px dotted $color-pink;
        color: $color-pink;
    }

    .icon {
        font-size: 0.9em;
    }
}