
.content,
.elementor {
    
    h1, h2, h3, h4, h5, h6 {
        color: $color-darkpink;
        margin: 30px 0 20px;
    }

    h1 {
        font-size: 2.6em;
        font-weight: 700;
        border-bottom: 1px solid $color-darkpink;
        margin: 40px 0 20px;
    }

    h2 {
        font-size: 2.1em;
        font-weight: 700;
    }

    h3 {
        font-size: 1.8em;
        color: black !important;
        font-weight: 700;
    }

    h4 {
        font-size: 1.6em;
        color: black !important;
    }

    h5 {
        font-size: 1.4em;
        color: black !important
    }

    h6 {
        font-size: 1.1em;
        color: black !important
    }

    p {
        line-height: 2em;
        font-size: 1.1em;
        @include breakpoint(small-medium down) {
            font-size: 1em;
        }
    }

    blockquote {
        color: black;
        font-style: italic;
        background-color: darken(white, 3%);
        padding: 10px 30px;
        border: none;
        line-height: 2em;

        &.is-style-large {
            margin: 50px auto;
            max-width: 700px;
            // background-color: transparent;
            padding: 20px 60px;
            background-color: lighten($color-yellow, 25%);
            background-image: linear-gradient(to bottom right, mix($color-yellow, $color-pink, 50%), $color-pink);
            position: relative;
            @include breakpoint(small-medium down) {
                padding: 15px 30px;
                margin: 30px auto;
            }

            &::before, &::after {
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                display: block;
                content: '';
                height: 60px;
                width: 60px;
                @include breakpoint(small-medium down) {
                    height: 45px;
                    width: 45px;
                }
            }

            &::before {
                top: 0;
                left: 0;
                background-image: url('images/svg/quote-left.svg');
                transform: translate(-50%, -50%);
                @include breakpoint(small-medium down) {
                    transform: translate(-33%, -33%);
                }
            }

            &::after {
                bottom: 0;
                right: 0;
                background-image: url('images/svg/quote-right.svg');
                transform: translate(50%, 50%);
                @include breakpoint(small-medium down) {
                    transform: translate(33%, 33%);
                }
            }

            p, cite {
                font-weight: 400;
                font-size: 1.36em;
                color: white;
                line-height: 1.5em;
                @include breakpoint(small-medium down) {
                    font-size: 1.12em;
                }
            }

            cite {
                font-size: 1.12em;
                @include breakpoint(small-medium down) {
                    font-size: 1em;
                }
            }
            
        }

        p, cite {
            color: black;
            margin: 10px 0;
            line-height: 2em;
        }

        cite {
            text-align: right;
            display: block;
            font-style: normal;
        }
    }

    table {
        background-color: darken(white, 3%);
        border-collapse: collapse;
        margin: 20px 0;
        word-break: normal;
        white-space: nowrap;
        overflow: scroll;
        display: block;

        th, td {
            padding: 7px 15px;
            border: none;
            outline: none;
        }

        th {
            background-color: lighten($color-darkpink, 20%);
            color: white;
            font-weight: 700;
        }

        tr:nth-child(even) {
            background-color: darken(white, 8%);
        }
    }

    pre {
        background-color: darken(white, 3%);
        padding: 20px;
        font-size: 0.9em;
        margin: 20px 0;
    }

    img {
        max-width: 100% !important;

        &.alignleft {
            margin: 10px 10px 10px 0;
        }

        &.alignright {
            margin: 10px 0 10px 10px;
        }
    }

    figcaption {
        margin: 10px 0 10px;
        font-size: 0.8em;
        font-weight: 600;
        color: lighten(black, 40%);
    }

    a:link,
    a:visited {
        text-decoration: underline;
    }

}
