
form {
    
    [type='text'], 
    [type='password'],
    [type='date'],
    [type='datetime'],
    [type='datetime-local'],
    [type='month'],
    [type='week'],
    [type='email'],
    [type='number'],
    [type='search'],
    [type='tel'],
    [type='time'], 
    [type='url'], 
    [type='color'], 
    select,
    textarea {
        border: 1px solid lighten($color-pink, 35%);
        border-radius: 0;
        background-color: lighten($color-pink, 47%);
        box-shadow: none;
        margin: 10px 0;
        outline: none;
        @include galsTransitionFast;

        &:focus {
            border: 1px solid lighten($color-pink, 35%);
            border-radius: 0;
            background-color: lighten($color-pink, 47%);
            outline: 2px solid lighten($color-pink, 25%)
        }
    }

    label {
        font-weight: 600;
        margin-bottom: 10px;
    }

    [type='submit'], 
    [type='button'],
    button {
        padding: 10px 28px;
        font-family: $body-font-family;
        font-size: 1.2em;
        font-weight: 700;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        background-color: $color-pink;
        color: white;
        border: none;
        @include galsTransitionFast;

        &::after {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            content: '';
            opacity: 0;
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 3px 15px rgba(black, 0.3);
            color: white;
    
            &::after {
                opacity: 0.14;
            }
        }
    }
}