
// Blog


.page-header {
    position: relative;
    padding: 50px 0 300px;

    @include breakpoint(small-medium down) {
        padding: 35px 0 285px;
    }

    &.post-header {
        background-color: $color-darkpink;
        background-image: linear-gradient(to bottom right, mix($color-darkpink, $color-yellow, 50%), $color-darkpink);

        .entry-meta {
            font-size: 0.9em;
            margin: 0;
            opacity: 0.8;
        }
    }

    &.latest-news-header {
        position: relative;
        background-size: cover;
        background-position: center center;
    }

    &.latest-news-header::before {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-darkpink;
        background-image: linear-gradient(to bottom right, mix($color-darkpink, $color-yellow, 50%), $color-darkpink);
        opacity: 0.8;
        width: 100%;
        height: 100%;
        content: '';
    }

    .inner {
        z-index: 10;
        color: white;
        position: relative;
        padding: 0 25px;

        .page-title,
        .entry-title {
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.09em;
            line-height: 1em;
            font-size: 2.3em;
            margin: 0;
            word-break: break-word;
            max-width: 900px;

            @include breakpoint(small-medium down) {
                font-size: 2em;
            }
        }
    }

    &::after {
        display: block;
        content: '';
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 66.6%;
        width: 100%;
        background-image: linear-gradient(to top, white, rgba(white, 0));
        
    }
}


.newsroll {
    margin-bottom: 30px;
    position: relative;
    z-index: 20;
    padding: 0 25px;
    @include breakpoint(small-medium down) {
        padding: 0 15px;
    }

    &.margin-fix {
        margin-top: -250px
    }

    .posts {
        padding-right: 30px;
        
        @include breakpoint(small-medium down) {
            padding-right: 0;
            margin-bottom: 20px;
        }

        .inner {
            @include boxStyle;
            padding:  30px 60px;

            @include breakpoint(small-medium down) {
                padding: 20px 30px;
            }

            article.post,
            article.page {
                border-bottom: 1px solid rgba($color-pink, 0.15);
                padding: 30px 0;
                word-break: break-word;

                &:last-of-type {
                    border-bottom: none;
                }

                .entry-header {
                    margin-bottom: 20px;

                    .entry-title {
                        font-size: 2.3em;
                        font-weight: 600;
                        margin: 0;

                        @include breakpoint(small-medium down) {
                            font-size: 1.8em;
                        }

                        a {
                            color: $color-pink;

                            &:hover {
                                color: lighten($color-pink, 10%);
                            }
                        }
                    }

                    .entry-meta {
                        font-size: 0.9em;
                        opacity: 0.7;
                    }
                }

                .entry-thumbnail {
                    max-height: 500px;
                    background-size: contain;
                    background-color: black;
                    background-position: center center;
                    background-repeat: no-repeat;
                    margin-bottom: 20px;
                    position: relative;
                    @include breakpoint(small-medium down) {
                        max-height: 300px;
                    }

                    &:hover::after {
                        position: absolute;
                        display: block;
                        content: '';
                        top: 0;
                        left: 0;
                        z-index: 1;
                        height: 100%;
                        width: 100%;
                        background-color: white;
                        opacity: 0.15;
                    }

                    .no-show {
                        width: 100%;
                        height: auto;
                        z-index: -1;
                        visibility: hidden;
                    }
                }

                .entry-content {
                    word-break: break-word;

                    p {
                        line-height: 1.7em;
                    }
                }                
            }
        }
    }

    // Single
    &.single {

        .posts {

            .inner {
                padding: 0;

                .entry-thumbnail {
                    margin-bottom: 30px;
                    width: 100%;
                    background-color: black;

                    img {
                        width: 100%;
                        height: 100%;
                        max-height: 500px;
                        object-fit: contain;
                        display: block;
                        margin: 0 auto;
                        @include breakpoint(small-medium down) {
                            max-height: 300px;
                        }
                    }
                }

                .content {
                    padding: 40px 60px;
                    word-break: break-word;
                    
                    @include breakpoint(small-medium down) {
                        padding: 20px 20px;
                    }

                    .gallery {
                        margin: 30px auto;

                        .gallery-item {
                        display: inline-block;
                        max-width: 33.33%;
                        padding: 0 1.1400652% 2.2801304%;
                        text-align: center;
                        vertical-align: top;
                        width: 100%;

                            img {
                                max-width: 100%;
                                margin-bottom: 10px;
                            }

                            figcaption {
                                font-size: 0.9em;
                                color: lighten(black, 20%);
                                line-height: 1.7em;
                            }
                        }
                    }
                }
            }
        }
    }
}

.content-box {
    @include boxStyle;
}

// Canvas page template

.newsroll.canvas {

    .posts {

        .inner {
            @include boxStyle();
            padding: 0;

            .content {
                padding: 0;
            }
        }
    }
}