
.section-404 {
    padding: 100px 0;
    @include breakpoint(small-medium down) {
        padding: 50px 0;
    }

    .inner {

        .content-404 {
            text-align: center;

            .error-icon {
                max-width: 170px;
                margin-bottom: 20px;
                @include breakpoint(small-medium down) {
                    max-width: 120px;
                }
            }

            h2 {
                font-size: 4em;
                margin: 0;
                line-height: 1.2em;
                @include breakpoint(small-medium down) {
                    font-size: 2.6em;
                }                
            }

            .error-code {
                font-weight: 700;
                color: lighten(black, 50%);
                font-size: 1.6em;
                margin-top: 0;
                margin-bottom: 40px;
            }

            .message {
                margin: 30px 0;
            }
        }
    }
}