
// Footer

#galsfooter {
    background-image: linear-gradient(to top, lighten(mix($color-yellow, $color-pink, 50%),34%), white);
    margin-top: 50px;
    &.front-page {
        margin-top: 0;
    }

    .colophon {
        margin-top: 50px;
        text-align: center;
        padding-bottom: 40px;

        p {
            font-size: 1.1em;
            font-weight: 700;
            opacity: 0.6;
            letter-spacing: 0.04em;
            text-align: center;
            margin: 0;
        }
        
        p.signature {
            font-size: 1em;
            font-weight: normal;
        }
    }

    .footer-inner {
        position: relative;

        &::before {
            display: block;
            content: '';
            height: 2px;
            background-color: $color-yellow;
            background-image: linear-gradient(to right, mix($color-pink, $color-yellow, 50%), $color-pink);
            width: 100%;
            max-width: 980px;
            margin: 0 auto 100px;
            opacity: 0.5;
        }

        .subscribe-box {

            .inner {

                background-color: rgba($color-yellow, 0.5);
                padding: 30px;
                text-align: center;
                @include breakpoint(medium down) {
                    padding: 20px 20px;
                }

                h2 {
                    font-size: 1.4em;
                    text-transform: uppercase;
                    font-weight: 700;

                    @include breakpoint(medium down) {
                        font-size: 1.1em;
                    }
                }

                .ajax-loader {
                    display: none;
                }

                form {
                    margin: 20px 0 0;
                }
            }
        }

        .menu-container {

            .cell {
                padding: 0 10px;

                @include breakpoint(medium down) {
                    margin-bottom: 25px;
                }

                @include breakpoint(small-medium down) {
                    text-align: center;
                }

                h3.menu-name {
                    font-size: 1.1em;
                    font-weight: normal;
                    
                    @include breakpoint(medium down) {
                        margin: 0 0 10px;
                    }
                }

                .footer-menu {
                    list-style-type: none;
                    margin: 20px 0 0;
                    padding: 0;

                    @include breakpoint(medium down) {
                        margin: 10px 0 0;
                    }

                    > .menu-item {
                        font-size: 1.1em;
                        font-weight: 600;
                    }
                }

            }
        }
    }

}