
// Front Page
.hero-section {
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .section-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba($color-darkpink, 0.7);
        background-image: linear-gradient(to top left, rgba(mix($color-darkpink, $color-yellow, 50%),0.7), rgba($color-darkpink, 0.7));
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-content {
            max-width: 900px;
            text-align: center;

            .hero-text {
            border: 0;
            font-size: 3.2em;
            font-weight: 600;
            letter-spacing: 0.05em;
            line-height: 1.2em;
            color: white;
            margin-bottom:50px;
            
                @include breakpoint(medium) {
                    font-size: 2.7em;
                }

                @include breakpoint(small-medium down) {
                    font-size: 2em;
                }
            }

            .btn {
                margin: 0 23px;

                @include breakpoint(medium down) {
                    margin-bottom: 20px;
                }
            }
            
        }
    }
}

section.focus {
    padding: 100px 0;
    
    @include breakpoint(small-medium down) {
        padding: 50px 0;
    }

    .section-heading {
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.04em;
        margin-bottom: 60px;
    }

    .focus-items {

        .cell {
            padding: 0 10px;
            text-align: center;

            @include breakpoint(medium) {
                padding: 0 10px 30px;
            }

            @include breakpoint(small-medium down) {
                padding: 0 20px 40px;
            }
            
            h3 {
                text-align: center;
                font-size: 1.3em;
                letter-spacing: 0.04em;
                margin: 30px 0 0;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }

    .focus-icon {
        width: 75%;
        max-width: 148px;
        display: block;
        margin: 0 auto;
        
        @include breakpoint(small-medium down) {
            width: 66.6%;
        }
    }
    
}

section.programs {
    // background-color: mix($color-darkpink, $color-yellow, 50%);
    background-image: linear-gradient(to bottom, mix($color-darkpink, $color-yellow, 40%), $color-darkpink);
    padding: 100px 0;

    .program-item {
        padding: 0 30px;
        @include breakpoint(small-medium down) {
            margin-bottom: 30px;
            &:last-of-type {
                margin-bottom: auto;
            }
        }

        .program-image {
            width: 100%;
            padding-bottom: 66.6%;
            background-position: center center;
            background-size: cover;
            position: relative;
            transition: all 0.2s ease;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: white;
                opacity: 0;
                display: block;
                content: '';
                transition: all 0.2s ease;
            }

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 3px 30px rgba(black, 0.3);
            }

            &:hover::after {
                opacity: 0.1;
            }
        }

        h3 {
            color: $color-yellow;
            // background-color: $color-yellow;
            display: inline-block;
            margin: 20px 0 0;
            padding: 7px 3px;
            font-size: 2.6em;
            font-weight: 700;
            position: relative;
            transition: all 0.2s ease;
            line-height: 1em;
            @include breakpoint(small-medium down) {
                margin: 10px 0 10px;
            }

            &:hover{
                color: lighten($color-yellow, 20%);
            }
        }

        p {
            color: white;
            font-weight: 600;
            font-size: 1.2em;
            line-height: 1.4em;
            letter-spacing: 0.04em;
        }
    }
}

section.testimonials {
    padding: 20px 0;
    
    &.fp-testimonial {
        padding: 100px 0;
        @include breakpoint(small-medium down) {
            padding: 50px 0;
        }
    }

    .section-heading {
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.04em;
        margin-bottom: 60px;
    }

    .testimonials-container {

        .testimonial {

            .inner {
                max-width: 680px;
                width: 100%;
                padding: 0 20px;
                text-align: center;
                margin: 0 auto;
            }
            
            blockquote {
                font-size: 1.2em;
                color: black;
                border: none;
                font-style: italic;
                margin: 0 0 30px 0;
                padding: 0;
                position: relative;
                @include breakpoint(small-medium down) {
                    font-size: 1em;
                }

                &::before {
                    position: absolute;
                    z-index: -1;
                    content:'\201c';
                    font-size: 12em;
                    color: $color-pink;
                    opacity: 0.15;
                    top: 50%;
                    left: -20px;
                    transform: translateY(-40%);
                }

                &::after {
                    position: absolute;
                    z-index: -1;
                    content:'\201d';
                    font-size: 12em;
                    color: $color-pink;
                    opacity: 0.15;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-30%);
                }
            }

            .witness-photo {
                $witnessPhotoSize: 98;
                $witnessPhotoRadius: $witnessPhotoSize/2;
                height: $witnessPhotoSize+px;
                width: $witnessPhotoSize+px;
                background-size: cover;
                background-position: center center;
                border-radius: $witnessPhotoRadius+px;
                margin: 0 auto;
            }

            .witness-details {
                margin-top: 12px;

                &::before {
                    content: '';
                    display: none;
                }

                .name {
                    font-size: 1.4em;
                    text-transform: uppercase;
                    font-style: italic;
                    letter-spacing: 0.04em;
                    color: black;
                    @include breakpoint (small-medium down) {
                        font-size: 1.2em;
                    }
                }
                
                .witness-title {
                    font-size: 1em;
                    font-style: normal;
                    color: black;
                    text-transform: uppercase;
                }
            }

        }

        // Testimonials Slick Slider
        .slick-btn {
            font-size: 2.5em;
            color: $color-pink;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            outline: none;
            border: none;
            z-index: 2;

            &:hover {
                color: lighten($color-pink, 20%);
            }

            &.slick-prev {
                left: 0;
            }

            &.slick-next {
                right: 0;
            }
        }
    }

}
