
// HEADER

body.dont-move {
    overflow: hidden;
}

#menu-open-overlay {
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(black, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    &.overlay {
        opacity: 1;
        visibility: visible;
    }

}

@mixin headerTransitionProp () {
    transition: all 0.25s ease;
}

.spacer {
    height: 100px;

    @include breakpoint(medium down) {
        height: 80px;
    }
}

#main-header {
    background-color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    @include headerTransitionProp();

    @include breakpoint(medium down) {
        padding: 10px 0;
    }
    
    // &.front-page {
    //     background-color: rgba(white, 0.8);
    // }
    
    .site-nav {
        display: flex;        

        .logo-container {
            flex-shrink: 1;

            &.sink {
                @include breakpoint(medium down) {
                    position: relative;
                    z-index: -2;
                }
            }
            
            > a {
                display: flex;
                align-items: center;
            }

            .logo.icon {
                height: 70px;
                display: block;
                @include headerTransitionProp();

                @include breakpoint(medium down) {
                    height: 60px;
                }
            }

            .logo.wordmark {
                height: 20px;
                margin: 10px 0 0 -5px;
                @include headerTransitionProp();
            }

            .tagline {
                font-size: 0.7em;
                color: $color-darkpink;
                border: none;
                padding: 0;
                white-space: nowrap;
                margin: 3px 0 0 5px;
                @include headerTransitionProp();

                @include breakpoint(small-medium down) {
                    font-size: 0.55em;
                }
            }
        }

        .menu-container {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;

            .main-header-menu {
                list-style-type: none;
                text-align: right;
                margin: 0;
                padding: 0;

                > .menu-item {
                    margin-left: 20px;
                    display: inline-block;
                    position: relative;

                    a {
                        color: $color-darkpink;
                        font-size: 0.95em;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                        // transition: all 0.1s ease;
                        display: inline-block;
                        padding: 10px 0;
                        @include galsTransitionFast;

                        @include breakpoint(medium down) {
                            font-size: 1.2em;
                        }

                        &:hover {
                            transform: translateY(-3px);
                            // text-shadow: 0 3px 5px rgba(black, 0.2);
                            color: lighten($color-darkpink, 20%);
                        }
                    }

                    &:hover > .sub-menu {
                        visibility: visible;
                        transform: translateY(0);
                        opacity: 1;
                    }

                    > .sub-menu {
                        list-style-type: none;

                        @include breakpoint(medium down) {
                            margin-bottom: 10px;
                        }

                        @include breakpoint(large up) {
                            position: absolute;
                            top: 100%;
                            background-color: white;
                            left: -20px;
                            visibility: hidden;
                            margin: 0;
                            padding: 10px 0;
                            box-shadow: 0 3px 20px rgba(black, 0.35);
                            text-align: left;
                            transition: all 0.2s ease;
                            transform: translateY(-5px);
                            opacity: 0;
                        }
                       
                        &::after {
                            content: '';
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 10px 10px 10px;
                            border-color: transparent transparent #ffffff transparent;
                            bottom: 100%;
                            left: 30px;
                            position: absolute;
                        }

                        .menu-item {
                            white-space: nowrap;

                            @include breakpoint(medium down) {
                                display: block;
                            }

                            a {
                                padding: 6px 30px;

                                @include breakpoint(medium down) {
                                    font-size: 1em;
                                    font-weight: normal;
                                    text-transform: none;
                                    padding: 3px 30px;
                                }
                            }
                        }
                    }
                }

                @include breakpoint(medium down) {
                    //menu opened
                    position: fixed;
                    right: 0;
                    top: 0;
                    height: 100%;
                    overflow-y: scroll;
                    transition: all 0.5s ease;
                    background-color: white;
                    box-shadow: 0 0 15px rgba(black, 0.2);
                    z-index: -1;
                    padding: 90px 0 0;
                    width: 66%;
                    max-width: 360px;
                    min-width: 250px;

                    &.closed { //menu closed
                        visibility: hidden;
                        right: -100%;
                    }

                    > .menu-item {
                        display: block;
                        margin: 0;

                        a {
                            display: block;
                            padding: 10px 30px;
                            text-align: right;
                        }
                    }
                }
            }

            // Hamburger menu
            .hamburger-menu {
                border: none;
                outline: none;
                background-color: transparent;
                width: 30px;
                cursor: pointer;
                margin-right: 10px;
                position: relative;
                z-index: 5;

                .bar {
                    height: 4px;
                    width: 100%;
                    background-color: $color-darkpink;
                    margin-bottom: 6px;
                    transition: all 0.3s ease;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                &.x-button {
                    $hm-trval: 7px;

                    .bar {
                        &:first-of-type {
                            transform: rotate(45deg) translate($hm-trval, $hm-trval);
                            opacity: 1;
                        }
                        &:nth-of-type(2) {
                            transform: rotate(-135deg);
                            opacity: 0;
                        }
                        &:last-of-type {
                            transform: rotate(-45deg) translate($hm-trval, -$hm-trval);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    // Header when scrolled
    
    &.small {
        box-shadow: 0 5px 15px rgba(black, 0.1);
        padding: 12.5px 0;
        background-image: none;
        background-color: white;
        @include breakpoint(small-medium down) {
            padding: 8px 0;
        }

        .site-nav {

            .logo-container {

                .logo.icon {
                    height: 40px;
                }

                .logo.wordmark {
                    margin: 0 0 0 8px;
                    height: 25px;
                }

                .tagline {
                    font-size: 0;
                    margin: 0;
                    opacity: 0;
                }
            }
        }
    }
}