#reach-map {
    height: 100%;
    width: 100%;
    cursor: default;
    @include breakpoint(small-medium down) {
        height: 350px;
    }
}

.gals-map-section {

    .left {
        position: relative;

        &:hover {

            .overlay, .section-heading {
                opacity: 0;
                visibility: hidden;
            }

            .section-heading {
                padding-right: 0;
            }
        }

        .overlay,
        .section-heading {
            transition: all 0.3s ease;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: darken($color-yellow, 10%);
            opacity: 0.6;
            z-index: 9;
        }

        .section-heading {
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            width: 100%;
            padding: 0 30px 100px 0;
            transform: translateY(-50%);
            text-align: right;
            font-weight: 100;
            font-size: 6em;
            z-index: 10;
            word-spacing: 9999rem;
            text-transform: uppercase;
            line-height: 0.9em;
            color: white;
            @include breakpoint(medium only) {
                font-size: 3.4em;
            }
            @include breakpoint(small-medium down) {
                font-size: 3.3em;
                text-align: center;
                padding: 0 10px;
            }

            .em {
                color: $color-darkpink;
            }
            // text-shadow: 0 3px 15px rgba(black, 0.2);
        }
    }

    .map-message {
        background-image: linear-gradient(to bottom right, mix($color-pink, $color-yellow, 60%), $color-yellow);
        background-color: darken($color-yellow,20%);
        padding: 100px 0;
        @include breakpoint(medium down) {
            padding: 50px 0;
        }


        .inner {
            max-width: (1360px/2);
            margin: 0 auto 0 0;
            padding: 0 0 100px 30px;
            position: relative;
            @include breakpoint (small-medium down) {
                padding: 0 45px;
                position: static;
            }

            .messages {
                list-style-type: none;
                margin: 0;
                padding: 0;
                min-height: 400px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                @include breakpoint(small-medium down) {
                    min-height: auto;
                }

                .message {
                    font-size: 1.5em;
                    font-weight: 100;
                    line-height: 0.9em;
                    margin-bottom: 25px;
                    padding-bottom: 25px;
                    position: relative;
                    color: lighten($color-yellow, 35%);
                    &:last-of-type {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        &::after {
                            display: none;
                        }
                    }
                    @include breakpoint(medium only) {
                        font-size: 1.2em;
                    }
                    @include breakpoint(small-medium down) {
                        font-size: 1.1em;
                    }

                    &::after {
                        position: absolute;
                        bottom: -4px;
                        left: 0;
                        width: 87px;
                        height: 8px;
                        background-color: $color-light-yellow;
                        display: block;
                        content: '';
                    }
                    
                    .em {
                        display: block;
                        font-size: 2.6em;
                        line-height: 1em;
                        // text-transform: uppercase;
                        color: white;
                        font-weight: 700;
                    }
                }
            }

            .cta {
                position: absolute;
                bottom: 20px;
                left: 0;
                transform: translateX(-50%);
                z-index: 11;
                &:hover {
                    bottom: 23px;
                }
                @include breakpoint(medium only) {
                    bottom: 40px;
                    &:hover {
                        bottom: 43px;
                    }
                }
                @include breakpoint(small-medium down) {
                    position: static;
                    bottom: auto;
                    left: auto;
                    transform: none;
                    margin-top: 30px;
                }
            }
        }
    }
}