
.pagination-links {

    nav.navigation.pagination {
        margin: 30px auto;
        text-align: center;

        .nav-links {
            display: inline-block;

            .page-numbers {
                display: inline-block;
                margin: 0 3px;
                padding: 5px 15px;
                background-color: darken(white, 6%);
                border: none;
                text-transform: uppercase;
                font-size: 0.9em;
                font-weight: 600;

                @include breakpoint(small-medium down) {
                    font-size: 0.8em;
                    padding: 4px 12px;
                    margin: 6px 3px;
                }

                &.dots {
                    background-color: transparent;
                    font-size: 1.2em;
                    font-weight: 900;
                    letter-spacing: 0.05em;
                    color: darken(white, 30%);
                }

                &.dots:hover {
                    background-color: transparent;
                }

                &:hover {
                    background-color: $color-yellow;
                }

                &.current {
                    color: $color-yellow;
                    background-color: $color-darkpink;
                }
            }
        }
    }
}