
// Sidebar

.sidebar-container {

    .widget {
        padding: 20px;
        @include boxStyle;
        margin-bottom: 20px;
        word-break: break-word;

        @include breakpoint(small-medium down) {
            padding: 20px 30px;
        }

        .widget-title {
            font-size: 1.2em;
            font-weight: 700;
            letter-spacing: 0.04em;
        }

        ul {
            list-style-type: none;

            li {
                margin: 5px 0;
            }
        }
    }

    .widget_search {
        text-align: center;

        form {

            input[type='search'] {
                margin: 0 0 10px;
            }

            input[type='submit'] {
                font-size: 1em;
                font-weight: normal;
                cursor: pointer;
                @include galsTransitionFast;

                &:hover {
                    transform: none;
                }
            }
        }
    }
}